<div class="row">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
    <h2 class="fa title-cl-1" style="font-size:32px;">修改 <span class="fa fa-pencil-square-o">   </span>兴趣组</h2>
    <hr>

    <%= render "form" %>
    </div>
  </div>
</div>
