<div class="row">

    <div class="carousel">
      <br><br><br>
        <h1 class="title">EX·Bookshop</h1>
        <p class="slogan">这不仅是一个书店
        <br>
        更是让书籍流动的地方
        <br>
        让书成为我们沟通的桥梁
        </p>
        <p class="lead"><a class="btn btn-lg btn-success" href="/products">进入书城</a></p>
    </div>
  <div class="col-md-12">
      <div class="productList">
        <div class="productList-item bg-color1"></div>
        <div class="productList-item bg-color2"></div>
        <div class="productList-item bg-color3"></div>
        <div class="productList-item bg-color4"></div>
        <div class="productList-item bg-color5 productList-lastItem"></div>
      </div>
  </div>
</div>
