<div class="row">

    <div class="carousel">
      <br><br><br>
        <h1 class="title">EX·Bookshop</h1>
        <p class="slogan">同城书店—遇见美好
        <br>
        同城交换—让书流动
        <br>
        以书会友—用心分享
        <br>
        </p>
    </div>
    <div class="row" id="header-bottom">
      <div class="container">
        <div class="header-btn">
          <a class="btn btn-lg btn-success" href="/products">交换 · 书店</a>
          <a class="btn btn-lg btn-success" href="/groups">同城 · 书吧</a>
          <br><br>
          <p>
            什么是知识？——那些能改变你行动的信息
          <br><br>
            <span style="font-size:24px;">每打开一本书，就是与一位智者交流</span>
          </p>
        </div>
      </div>
    </div>


    <div class="row bg-color1">
      <div class="col-md-1" id="body-ps"></div>

      <div class="col-md-10" style="height:900px;" id="body">

        <div class="row" id='bodyitem'>
          <div class="col-md-4" id="bodyitem-left">
            <a href="/"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fd1xpap9hsj30e80e8q3g.jpg" alt="bookshop-logo"></a>
          </div>
          <div class="col-md-8" id="bodyitem-right">
            <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd1sn8933vj31kw0oe4qr.jpg" alt="bookshop">
          </div>
        </div>

        <div class="row" id='bodyitem'>
          <div class="col-md-4" id="bodyitem-left">
            <a href="#"><img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd1xgh29y6j30e80e80ss.jpg" alt="bookshop-logo"></a>
          </div>
          <div class="col-md-8" id="bodyitem-right">
            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd1sny1nubj31kw0oe1l4.jpg" alt="bookbar">
          </div>
        </div>

        <div class="row" id="bodyitem">
          <div class="col-md-4" id="bodyitem-left">
            <a href="#"><img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd1xgh7bzqj30e80e8dfw.jpg" alt="bookshop-logo"></a>
          </div>
          <div class="col-md-8" id="bodyitem-right">
            <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fd1x0sl2abj31kw0oeu13.jpg" alt="bookbar">
          </div>
        </div>

      </div>

      <div class="col-md-1"></div>
    </div>

</div>
