
  <!--big banner-->
  <div class="row" >
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
              <div class="item active">
                 <a href="javascript:;">
                  <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fd9zj4zdvvj315o0kuwia.jpg">
                  <div class="carousel-caption"></div>
                 </a>
              </div>
              <div class="item">
                 <a href="javascript:;">
                    <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdasnwkm3tj315o0kuado.jpg">
                    <div class="carousel-caption"></div>
                 </a>
              </div>
              <div class="item">
                 <a href="javascript:;">
                    <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdat9p65qfj31040i2adf.jpg">
                    <div class="carousel-caption"></div>
                 </a>
              </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>

      <p class="slogan" >交换新知识，开拓新视野，结识新朋友，顺便遇见你的那个TA</p>
      <h1 class="title" >体验多重人生  碰撞思考火花</h1>
      <p class="recommand" >李笑来，xdite, 吴军，万维刚，罗胖 诚意推荐</p>
    </div>

    <!-- 文字介绍三部分 -->
    <div class="row theysaid">
      <div class="article">
        <!-- 第一段 -->
        <div class="col-sm-4 ;col-xs-4">
          <p style="font-family:Palatino Linotype ;font-size:26px">旧书换新知</p>
          <br>
          <p style="font-family:Open Sans ;font-size:14px">
            将旧书或者闲置的书放在网站上，换自己现在最需要，最想看的书，获取新知识新技能。
          </p>
          <div class="header-btn">
            <a class="btn btn-lg btn-success" href="/products">交换 · 书店</a>
          </div>
        </div>
          <!-- 第二段 -->
          <div class="col-sm-4 ;col-xs-4">
            <p style="font-family:Palatino Linotype ;font-size:26px ; text-align:center ">以书会友，遇见知音</p>
            <br>
            <p style="font-family:Open Sans ;font-size:14px">
              一千个读者心中有一千个哈姆雷特，而​他正好和你读过同一本。他知道你在谈论什么。
            </p>
            <div class="header-btn">
              <a class="btn btn-lg btn-success" href="/groups">同城 · 书吧</a>
            </div>
          </div>
          <!-- 第三段 -->
          <div class="col-sm-4 ;col-xs-4">
            <p style="font-family:Palatino Linotype ;font-size:26px ;text-align:center">开拓视野</p>
            <br>
            <p style="font-family:Open Sans ;font-size:14px ;text-align:center">
              思想和经验的启发，你的迷茫和困惑也许他刚刚解决。你会发现，原来人生还可以这样过。
            </p>
            <div class="header-btn">
              <a class="btn btn-lg btn-success" href="/groups">同城 · 书吧</a>
            </div>
          </div>

      </div>
    </div>

    <!-- 他们说的三部分-->
    <div class="backcolor-green">
    <div class="container-fluid text-center theysaid1 bg-grey">
      <div class="row text-center">
        <!--第一个人说-->
        <div class="col-md-4 col-sm-4" >
          <div class="thumbnail">
            <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fdd325mhv0j30be09lwfb.jpg" alt="bookshop-logo">
            <div class="thumbnail-text">
              <br>
            <p><strong>刘宏井</strong></p>
            <p>买了太多书，很多闲置的，正愁不知如何是好呢
              舍不得扔掉，可现在也不会看了。
              正好在这里，我特别想看的书，都可以用我闲置的书来换</p>
            </div>
          </div>
        </div>
        <!--第二个人说-->
        <div class="col-md-4 col-sm-4">
          <div class="thumbnail">
            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdd327tf7vj30be09labg.jpg" alt="bookshop-logo">
            <div class="thumbnail-text">
            <p><strong>Emma</strong></p>
            <p>正好换书的时候遇见 看过同样一本书的哥哥。他丰富的人生经历，
              清晰又逻辑严密的分析，让我瞬间醒悟，原来困扰我很久的问题可以这样解决。</p>
            </br>
          </div>
        </div>
        </div>
        <!--第三个人说-->
          <div class="col-md-4 col-sm-4">
              <div class="thumbnail">
                <img src=" https://ww4.sinaimg.cn/large/006tNbRwgy1fdaw0297mfj30fq0d9q3s.jpg " alt="bookshop-logo">
                <div class="thumbnail-text">
                <p><strong>Susan</strong></p>
                <p>换书的时候遇到同样喜欢看书的她，是我这辈子最幸运的事情啦。
                  我说的她都懂，她的观点又给我启发观点新颖又独特，简直是我的灵感繆斯。</p>
                  <br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      <div class="row" >
        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner">
                  <div class="item active">
                     <a href="javascript:;">
                      <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fddi6edr02j315o0j1dhq.jpg">
                      <div class="carousel-caption">
                        <h4><span style="font-style:normal;">
                          过期的罐头，不过期的食欲
                          <br>
                          过期的底片，不过期的创作欲
                          <br>
                          过期的旧书，不过期的求知欲。
                          <br>
                          召唤另一个灵魂来跟你对话，把生命活成一场盛宴。</span></h4>
                          <div class="header-btn">
                            <a class="btn btn-lg btn-success" href="/groups">进入书吧</a>
                          </div>
                      </div>
                     </a>
                  </div>
                  <div class="item">
                     <a href="javascript:;">
                        <div class="carousel-caption">
                          <h4><span style="font-style:normal;">
                            遇见阅读海的海明威，发现生命是一条要花一辈子才能上钩的鱼。
                            <br>
                            遇见阅读麦田的梵高，发现艺术躲在太阳背后乘凉。
                            <br>
                            遇见阅读梦的弗洛伊德，发现一条直达潜意识的秘密通道。
                            <br>
                            遇见阅读人体的罗丹，发现哥伦布没有发现的美丽海岸线。
                            <br>
                            遇见阅读卡夫卡的加缪，发现真理已经被讲完一半。
                            <br>
                            在书与非书之间，还差一个你。</span></h4>

                        </div>
                     </a>
                  </div>
                  <div class="item">
                     <a href="javascript:;">
                        <div class="carousel-caption">
                          <h4><span style="font-style:normal;">
                            不同的灵魂，个性，心态，同读一本书，
                            <br>
                            进入书里同一个身份，同一副身体里，会展现不同版本的人生成果。
                          <br>
                          用设身处地的同理心，用更多的面向，向世界伸出多条体验的触角，
                          <br>
                          不受限地演化自己的灵魂物种，一个人绝对可以活出很多种精彩的风景。
                        </span></h4>
                        </div>
                     </a>
                  </div>

                     <!-- Left and right controls -->
                     <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                       <span class="sr-only">Previous</span>
                     </a>
                     <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                       <span class="sr-only">Next</span>
                     </a>

                </div>
              </div>
            </div>
