
  <!--big banner-->
  <div class="row" >
    <div id="myCarousel" class="carousel slide">
        <!-- 轮播（Carousel）指标 -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- 轮播（Carousel）项目 -->
        <div class="carousel-inner">
              <div class="item active">
                 <a href="javascript:;">
                  <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fd9zj4zdvvj315o0kuwia.jpg">
                  <div class="carousel-caption"></div>
                 </a>
              </div>
              <div class="item">
                 <a href="javascript:;">
                    <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdasnwkm3tj315o0kuado.jpg">
                    <div class="carousel-caption"></div>
                 </a>
              </div>
              <div class="item">
                 <a href="javascript:;">
                    <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fdat9p65qfj31040i2adf.jpg">
                    <div class="carousel-caption"></div>
                 </a>
              </div>
          </div>

          <!-- Left and right controls -->
          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
    </div>

      <p class="slogan" >交换新知识，开拓新视野，结识新朋友，顺便遇见你的那个TA</p>
      <h1 class="title" >体验多重人生  碰撞思考火花</h1>
      <p class="recommand" >李笑来，xdite, 吴军，万维刚，罗胖 诚意推荐</p>
  </div>


      <div class="row" id="header-bottom">
        <div class="header-btn">
          <a class="btn btn-lg btn-success" href="/products">交换 · 书店</a>
          <a class="btn btn-lg btn-success" href="/groups">同城 · 书吧</a>
          <br><br>
          <p>
            什么是知识？——那些能改变你行动的信息
          <br><br>
            <span style="font-size:24px;">每打开一本书，就是与一位智者交流</span>
          </p>
        </div>
      </div>

    <div class="container">

      <div class="row body">
        <div class="col-md-4 col-xs-4" id="bodyitem-left">
          <a href="/products"><img src="https://ww3.sinaimg.cn/large/006tNc79ly1fd1xpap9hsj30e80e8q3g.jpg" alt="bookshop-logo"></a>
        </div>
        <div class="col-md-8 col-xs-8" id="bodyitem-right">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fd1sn8933vj31kw0oe4qr.jpg" alt="bookshop">
        </div>
      </div>


      <div class="row body">
        <div class="col-md-4 col-xs-4" id="bodyitem-left">
          <a href="/groups"><img src="https://ww4.sinaimg.cn/large/006tNc79gy1fd1xgh29y6j30e80e80ss.jpg" alt="bookshop-logo"></a>
        </div>
        <div class="col-md-8  col-xs-8" id="bodyitem-right">
          <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fd1sny1nubj31kw0oe1l4.jpg" alt="bookbar">
        </div>
      </div>

      <div class="row body">
        <div class="col-md-4 col-xs-4" id="bodyitem-left">
          <a href="/posts"><img src="https://ww2.sinaimg.cn/large/006tNc79gy1fd1xgh7bzqj30e80e8dfw.jpg" alt="bookshop-logo"></a>
        </div>
        <div class="col-md-8 col-xs-8" id="bodyitem-right">
          <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fd1x0sl2abj31kw0oeu13.jpg" alt="bookbar">
        </div>
      </div>

    </div>

</div>
