// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.demo {
  font-size: 36px; /*设置字体36px*/
  color: #C81623; /*红色*/
  text-decoration: none; /*不要下划线*/
}
