// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg1 {
  background-color: #F2F7EF;
  padding-left: 200px;
  padding-right: 200px;
}

/*5种背景颜色*/
.bg-color1 {
  background: #fff;
}

.bg-color2 {
  background: #F25F5C;
}

.bg-color3 {
  background: #FFE066;
}

.bg-color4 {
  background: #247BA0;
}

.bg-color5 {
  background: #70C1B3;
}

/*轮播图*/
.carousel {
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: auto;
  margin-top: -25px;
  height: 40%;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


.title{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;//文字居中
  font-weight: bold;//文字加粗
  color: white;	//字体颜色
  font-size: 65px;
  position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
  padding: auto auto 0;//上50px，左右20px，下0
  height: auto;
  margin: auto auto 0;
  padding-top: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.slogan {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  color: white;
  margin-top: auto;
  position: absolute;
      left: 0;
      top: 40%;
      width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  padding-top: auto;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.recommand{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: left;
  color: white;
  position: absolute;
  left: 10%;
  bottom: 5%;
  width: 100%;
}


.lead {
  width: 600px;
  text-align: center;
  margin-top: 20px auto;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-lg, .btn-group-lg .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 10px;//btn圆角
    width: auto;//这里用指定宽度把btn拉得更长
}

.btn-success {
  color: #fff;//字体颜色
  background-color: #439439;//背景颜色
  border-color: #439439;//边框颜色
  font-size: 25px;
  padding: 4px 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-success:hover {
  background: #75C44B !important;//鼠标放置在btn上的背景颜色
  border-color: #75C44B;//鼠标放置在btn上的边框颜色
  border: 1px solid #75C44B;
  color: #fff !important;
}


.header-bottom {
  height: 220px;
  width: 100%;
  color: white;
}

#header-bottom {
  background-color: #EEEEEE;
}

.header-btn {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-btn p {
  font-size: 22px;
  color: #4BB80F;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-placeholder {
  height: 100px;
}



.body {
  padding-top: 50px;
  padding-bottom: 50px;
}


#bodyitem-left {
  width: 300px;

  height: 100%;
  padding: 0;
  border: 0;
  > a {
      > img {
      width:300px;
      height: 294px;
      background-color: #EEEEEE;
    }
  }
}

#bodyitem-right {
  width: 700px;
  height: 100%;
  padding: 0;
  > img {
    width: 700px;
    height: 294px;
  }
}

#body-ps {
  padding: 0;
  margin: 0;
}
