// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bg1 {
  background-color: #F2F7EF;
  padding-left: 200px;
  padding-right: 200px;
}

/*5种背景颜色*/
.bg-color1 {
  background: #fff;
}

.bg-color2 {
  background: #F25F5C;
}

.bg-color3 {
  background: #FFE066;
}

.bg-color4 {
  background: #247BA0;
}

.bg-color5 {
  background: #70C1B3;
}

.carousel {
  background-image:url('https://ww3.sinaimg.cn/large/006tKfTcgy1fd0j900rxwj31400m8toy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  margin-top: -25px;
  height: 580px;
}

.title{
  text-align: left;;//文字左对齐
  color: #478859;	//字体颜色
  padding: 50px 20px 0;//上50px，左右20px，下0
  background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  width: 400px;
  margin: 150px auto 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.slogan {
  font-family: "Helvetica Neue", "Microsoft Yahei";
  text-align: right;;
  color: white;
  background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  width: 400px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}


.lead {
  background-color: rgba(250, 250, 250, 0.39);//背景颜色含透明度
  width: 600px;
  text-align: center;
  margin-top: 20px auto;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-lg, .btn-group-lg .btn {
    padding: 8px 16px;//通过padding来决定btn的大小
    letter-spacing: 3px;//调整文字间距
    border-radius: 10px;//btn圆角
    width: auto;//这里用指定宽度把btn拉得更长
}

.btn-success {
  color: #fff;//字体颜色
  background-color: #439439;//背景颜色
  border-color: #439439;//边框颜色
  font-size: 25px;
  padding: 4px 25px;
  margin: 20px auto;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-success:hover {
  background: #75C44B !important;//鼠标放置在btn上的背景颜色
  border-color: #75C44B;//鼠标放置在btn上的边框颜色
  border: 1px solid #75C44B;
  color: #fff !important;

}

.header-bottom {
  height: 220px;
  width: 100%;
  color: white;
}

#header-bottom {
  background-color: #EEEEEE;
}

.header-btn {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.header-btn p {
  font-size: 22px;
  color: #4BB80F;
  margin-bottom: 15px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/*轮播图*/
.carousel{
  padding-left: 0;
  padding-right: 0;
}

.carousel > img {
  width: 1440px;
  height: 800px;
}

#body {
  padding-bottom: 75%;
}

#bodyitem {
  margin:50px 50px 50px 50px;
  height: 300px;
  width: 1006px;
  padding: 0;
}

#bodyitem-left {
  width: 300px;
  height: 100%;
  padding: 0;
  border: 0;
  > a {
      > img {
      width:300px;
      height: 294px;
      background-color: #EEEEEE;
    }
  }
}

#bodyitem-right {
  width: 700px;
  height: 100%;
  padding: 0;
  > img {
    width: 700px;
    height: 294px;
  }
}

#body-ps {
  padding: 0;
  margin: 0;
}
