<div class="container">
  <div class="row">
    <h2>订单列表 </h2>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>生成时间</th>
          <th>订购者</th>
          <th>订单状态</th>
        </tr>
      </thead>
      <tbody>
        <% @exorders.each do |exorder| %>
        <tr>
          <td> <%= link_to(exorder.id, admin_exorder_path(exorder) ) %> </td>
          <td> <%= exorder.created_at.to_s(:long) %> </td>
          <td> <%= exorder.user.email %></td>
          <td> <%= exorder.aasm_state %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>

  </div>
</div>
