<div class="row">
    <footer class="footer">

      <div class="col-xs-4 col-md-4 footer-logo" >
        <p>
          <a href="https://github.com/JayGJianGuo/EXBookshop">
              <i class="fa fa-github-alt" aria-hidden="true"><span> | </span>关于我们</i>
           </a>
          <br><br>
          <a href="https://fullstack.xinshengdaxue.com/dashboard">
              <i class="fa fa-leaf" aria-hidden="true"><span> | </span>开发平台</i>
          </a>
          <br><br>
          <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=rsTP14DJg8THz8CAydvB7sjB1sPPx8KAzcHD">
            <i class="fa fa-share" aria-hidden="true"><span> | </span>联系我们</i>
          </a>
          <br><br>
          <a href="">
            <i class="fa fa-external-link" aria-hidden="true"><span> | </span>友情链接</i>
          </a>
          <br>
        </p>
      </div>
      <div class="col-xs-4 col-md-4">
        <div class="row footer-logo-center">
          <img src="http://a3.qpic.cn/psb?/V13Pbv8i04nFEu/tjESMGoQBw22oxcOIpxSKuhTWbSWk8dAjHi6n9i*I.U!/b/dAoBAAAAAAAA&bo=gACAAIAAgAADCSw!&rf=viewer_4" alt="">
        </div>
      </div>
      <div class="col-xs-4 col-md-4 footer-text">
        <p class="text-center" >
          Copyright ©2017
          <br><br>EX·Bookshop
          <br><br>Design by 郭键 & 陈颖君
        </p>
      </div>
    </footer>
</div>
